<div class="p-2 profile">
  <mdb-card class="outerCard">
    <button (click)="getSubmissionsPls()">Get Submissions</button>
                <ul>
                  <div *ngFor="let submission of mySubmissions">
                    <li >Submission Name: {{submission.submissionName}}</li>
                    <li>Submission Text: {{submission.submissionText}}</li>
                    <li>Submission Category: {{submission.category}}</li>
                    <button type="button" (click) = "renderEditSub()" class="btn btn-secondary">Edit Submission</button>
                  </div>
                  </ul>
                  <app-edit-sub *ngIf="renderComponent == 'EditSub' "></app-edit-sub>

  </mdb-card>
</div>