
<mdb-card>
  <mdb-card-body>

    <mdb-card-title>
      <h2 class="cardTitle">My Submissions</h2>
    </mdb-card-title>
    
    <table  mdbTable >
      <thead class="tableColor white-text">
        <tr>
          <th *ngFor="let el of tableElements" scope="col"><h1 class="header">{{el}}</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of mySubmissions">
          <td class= "cardBody">{{submission.submissionName}}</td>
          <td class= "cardBody">{{submission.submissionText}}</td>
          <td class= "cardBody">{{submission.category}}</td>
          <td class= "cardBody">
            <button type="button" (click) = "renderViewSub(submission)" class="btn btn-light-blue btn-sm">View Submission</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" (click)="renderAddSub()" class="btn tableColor">Add Submission</button>

  </mdb-card-body>
  
  
  <app-view-sub (returnToParent)="getChildEvent($event)" [childSubmission]='chosenSubmission' *ngIf="renderComponent == 'ViewSub' "></app-view-sub>
  <app-add-sub (returnToParent)="getChildEvent($event)" *ngIf="renderComponent == 'AddSub' "></app-add-sub>

</mdb-card>
