<mdb-card>
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>Submission Title</h4>
    </mdb-card-title>

    <!--Card image-->
    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
    <!--Text-->
    <mdb-card-text> Description of user's submission.
    </mdb-card-text>
    <div class="md-form">
      <textarea mdbInputDirective type="text" 
                id="form7" class="md-textarea form-control" 
                rows="3"
                [(ngModel)] = "feedback" ></textarea>
      <label for="form7">Feedback</label>
    </div>

    <div class="md-form">
      <textarea mdbInputDirective type="text" 
                id="form7" `
                class="md-textarea form-control" 
                rows="3" 
                [(ngModel)] = "comment"></textarea>
      <label for="form7">Comment</label>
    </div>

    <button type="button" class="btn btn-primary">Submit</button>
    
    
    <button type="button" class="btn btn-primary">Cancel</button>
  

  </mdb-card-body>
</mdb-card>