.underline {
    text-decoration: underline;
    color: #78A7DE;
}
.header{
    font-size: 20pt;
      color: #fff;
      text-align: center;
  }
.cardTitle{
    text-align: center;
    font-size: 40pt;
    margin-left: 550px;
    margin-right: 550px;
  }
  
  .cardBody{
    font-size: 20px;
      text-align: center;
      padding: 5px 15px;
  
  }