.modal-body{
    margin: 24px;
}

.btn-outline-danger {
    border: 2px solid rgb(242, 168, 166) !important;
    background-color: transparent !important;
    color: rgb(242, 168, 166) !important;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 200px;
    max-width: 270px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }
.table-wrapper-scroll-yx {
        display: block;
        max-height: 200px;
        max-width: 270px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        }

.button{
    background-color:  rgb(242, 168, 166);
}

.modalTitle {
    text-align: center;
}

.adminTitle {
    text-align: center;
}
.allButtons {
    margin-top: 30px; 
}

#search {
    margin-top: 15px;
    margin-bottom: 15px;
}

.alert {
    text-align: center;
    background-color: #FF584F ;
    ;
}
