.modal-body{
    margin: 24px;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 200px;
    max-width: 270px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }

.button{
    background-color:  rgb(242, 168, 166);
}

.modalTitle {
    text-align: center;
}

.adminTitle {
    text-align: center;
}
.allButtons {
    margin-top: 30px; 
}

#search {
    margin-top: 15px;
    margin-bottom: 15px;
}
