<mdb-card>
    <!--C-->
    <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
            <h4>Admin</h4>
        </mdb-card-title>

        <!--Main wrapper-->
        <div class="comments-list text-left">
            <div class="section-heading">
                <h3>Reported Comments<span class="badge blue">0</span></h3>
            </div>
            <!--First row-->
            <div class="row">
                <!--Image column-->
                <div class="col-sm-2 col-12">
                </div>
                <!--/.Image column-->
                <!--Content column-->
                <div class="col-sm-10 col-12">
                    <div class="table-wrapper-scroll-y">

                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Comment</th>
                              <th scope="col">User</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr mdbTableCol *ngFor="let com of allReportedComments">
                                <th scope="row" *ngIf="com.reported == true">{{com.submissionName}}</th>
                                <td *ngIf="com.reported == true">{{com.username}}</td>
                              </tr>
                          </tbody>
                        </table>
                      
                      </div>
                </div>
                <!--/.Content column-->
            </div>
            <!--/.First row-->

        </div>
        <!--/.Main wrapper-->


    
        <!--/.Main wrapper-->
        <div>
            <button type="button" class="btn btn-secondary" (click)="basicModal.show()"> Ban User </button>
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 id="myModalLabel1">Ban User</h4>
                        </div>
                        <div class="modal-body">

                            <label for="form1" class="">User:</label>
                            <input mdbInputDirective type="text" id="form1" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                                (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Submit
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>
        


        
            <button type="button" class="btn btn-secondary" (click)="basicModal.show()"> Restore User </button>
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 id="myModalLabel2"> Restore User</h4>
                        </div>
                        <div class="modal-body">

                            <label for="form1" class="">User:</label>
                            <input mdbInputDirective type="text" id="form1" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                                (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Submit
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>
        


        
            <button type="button" class="btn btn-secondary" (click)="basicModal.show()"> Make User an Admin </button>
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 id="myModalLabel3">User:</h4>
                        </div>
                        <div class="modal-body">
                            <input mdbInputDirective type="text" id="form1" placeholder="User" class="form-control" [(ngModel)]="UserToBeBanned">
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                                (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Submit
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul>
            <input type="text" [(ngModel)]="queryString" id="search" class="form-control" placeholder="Search for User" title="Type in a category">
          
            <table class="table table-bordered table-striped table-wrapper-scroll-y">
                <thead>
                  <tr>
                    <th scope="col">User</th>
                    <th>Standing</th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let user of allUsers | UserSearchPipe: queryString" id="cats">
                      <td>{{user.username}}</td>
                      <td>{{user.standing}}</td>
                    </tr>
                </tbody>
              </table>
        </ul>

    </mdb-card-body>
</mdb-card>