<mdb-card>
	<mdb-card-body>
		<mdb-card-title>
			<h2 class="adminTitle">Admin</h2>
		</mdb-card-title>

		 <div class="table">
				<table mdbTable class="table table-bordered table-striped table-wrapper-scroll-yx">
					<thead>
						<tr>
							<th *ngFor="let el of tableElements2" scope="col">{{el}}</th>
						</tr>
					</thead>
					<tbody>
						<tr mdbTableCol *ngFor="let sub of foundReportedComments">
							<td *ngIf="sub && sub.reportedMessage != null">{{sub.reportedMessage}}</td>
							<td *ngIf="sub && sub.reportedMessage != null">{{sub.username}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		<div>
			
			
			<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
			aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
			<div class="modal-dialog  modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class=".button" id="myModalLabel1">Ban User</h4>
					</div>
					
					<div class="modal-body">
						<input mdbInputDirective type="text" placeholder="User" id="form1" class="form-control"
						[(ngModel)]="UserToBeBanned">
					</div>
					
					<button (click)="BanEm()" (click)="basicModal1.hide()" (click)="updateUsers()" 
					type="button" mdbBtn class="btn tableColor">Submit Changes</button>
					
					<button type="button" mdbBtn color="danger" outline="true" aria-label="Close"
					(click)="basicModal1.hide()" mdbWavesEffect>Close</button>
					
					
				</div>
			</div>
		</div>
		
		
		<div mdbModal #basicModal2="mdbModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
		aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
						<span aria-hidden="true">×</span>
					</button>
					<h4 id="myModalLabel2"> Restore User</h4>
				</div>
				<div class="modal-body">
					
					<input mdbInputDirective placeholder="User" type="text" id="form1" class="form-control"
					[(ngModel)]="UserToBeRestored">
				</div>
				
				
				<button (click)="RestoreEm()" (click)="basicModal2.hide()" (click)="updateUsers()" type="button" 
				mdbBtn class="btn tableColor">Submit Changes</button>
				
				<button type="button" mdbBtn color="danger" outline="true" aria-label="Close"
				(click)="basicModal2.hide()" mdbWavesEffect>Close</button>
			</div>
		</div>
	</div>
	
	
	<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class=""id="myModalLabel3">User</h4>
			</div>
			<div class="modal-body">
				<input mdbInputDirective type="text" id="form1" placeholder="User" class="form-control"
				[(ngModel)]="UserToBeAdmin">
			</div>
			
			
			
			<button mdbBtn (click)="AdminEm()" (click)="basicModal.hide()" (click)="updateUsers()" type="button" 
			class="btn tableColor" >Submit Changes</button>
			
			<button type="button" mdbBtn  color="danger" outline="true" aria-label="Close"
			(click)="basicModal.hide()" mdbWavesEffect>Close</button>
		</div>
	</div>
</div>
</div>

<div>
	<input type="text" [(ngModel)]="queryString" id="search" class="form-control" placeholder="Search for User" title="Type in a category">
	
	<div class="table">
		<table mdbTable class="table table-bordered table-striped table-wrapper-scroll-y">
			<thead>
				<tr>
					<th *ngFor="let el of tableElements" scope="col">{{el}}</th>
				</tr>
			</thead>
			<tbody>
				<tr mdbTableCol *ngFor="let user of allUsers | UserSearchPipe: queryString" id="cats">
					<td>{{user.username}}</td>
					<td>{{user.standing}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="allButtons">


	<button mdbBtn type="button" class="softblue" (click)="basicModal1.show()"> Ban User </button>
	<button mdbBtn type="button" class="softblue" (click)="basicModal2.show()"> Restore User </button>
	<button mdbBtn type="button" class="softblue" (click)="basicModal.show()"> Make User an Admin </button>
	
</div>



</mdb-card-body>
</mdb-card>