<div *ngIf = "edit == false" class="all-cards">
        <div class="d-flex flex-row">
                <div class="p-2 no">
                        <div class="d-flex flex-column">
                                <div class="p-2 no"> <mdb-card class="about-me-card">
                                        <mdb-card-body class="about-me-card">
                                            <h4>About Me</h4>
                                            <h2 *ngIf="profile"> {{profile.aboutMe}} </h2>
                                
                                            <h4>Homepage</h4>
                                            <h2 *ngIf="profile"> {{profile.homepage}} </h2>
                                
                                            <h4>Location</h4>
                                            <h2 *ngIf="profile"> {{profile.location}} </h2>
                                
                                            <h4>Occupation</h4>
                                            <h2 *ngIf="profile">  {{profile.occupation}} </h2>
                                        </mdb-card-body>
                                    </mdb-card>
                                </div>
                                <div class="p-2 no">
                                        <mdb-card class="card">
                                                <mdb-card-body>
                                                    <h4>Coins</h4>
                                                    <h2 *ngIf="profile"> {{profile.coins}}</h2>
                                                </mdb-card-body>
                                        </mdb-card>
                                </div>  
                    
                            </div>
                </div>
                <div class="p-2 no">
                        <div class="d-flex flex-column">
                                <div class="p-2 no"> 
                                        <mdb-card class="card">
                                                <mdb-card-body>
                                                    <h4>Critika Rating</h4>
                                                    <h2 *ngIf="profile && profile.rating > 0"> {{profile.rating}}/5</h2>
                                                    <h2 *ngIf="profile && profile.rating == 0"> Not yet rated</h2>
                                                </mdb-card-body>
                                            </mdb-card>
                                </div>
                                <div class="p-2 no">
                                        <mdb-card>
                                                <mdb-card-body>
                                                    <h4>Member Since:</h4>
                                                    <h2 *ngIf="profile"> {{profile.memberSince.substring(0,10)}}</h2>
                                                </mdb-card-body>
                                            </mdb-card>
                                        
                                </div>  
                                <div class="p-2 no">
                                        <mdb-card class="card">
                                                <mdb-card-body>
                                                    <h4>Total Number of Submissions</h4>
                                                    <h2 *ngIf="profile"> {{profile.submissionNum}}</h2>
                                                </mdb-card-body>
                                            </mdb-card>
                                </div>
                    
                            </div>
                </div>

        </div>
        
    


    

    


    
</div>

<app-spend-coins *ngIf="renderComponent == 'SpendCoins' "></app-spend-coins>
<app-add-sub *ngIf="renderComponent == 'AddSub' "></app-add-sub>
<app-edit-profile *ngIf="renderComponent == 'EditProfile' " [childProfile]="profile" (returnToParent)="getChildEvent($event)"></app-edit-profile>
<button type="button" (click)="renderSpendCoins()" class="btn btn-secondary">Spend Coins</button>
<button type="button" (click)="renderAddSub()" class="btn btn-secondary">Add Submission</button>
<button type="button" (click)="renderEditProfile()" class="btn btn-secondary">Edit Profile</button>