<div class="page">
  
  <div>
    <app-spend-coins *ngIf="renderComponent == 'SpendCoins' "></app-spend-coins>
    <app-edit-profile *ngIf="renderComponent == 'EditProfile' " [childProfile]="profile" (returnToParent)="getChildEvent($event)"></app-edit-profile>
    <button type="button" (click)="renderSpendCoins()" class="btn btn-secondary">Spend Coins</button>
    <button type="button" (click)="renderEditProfile()" class="btn btn-secondary">Edit Profile</button>
  </div>
  
  <div class="p-2 no">
    <mdb-card class="card">
      
      <mdb-card-body>
        
        <div class="card">
          <h4 class="title">About Me</h4>
          <div>
            <p class="content" *ngIf="profile"> {{profile.aboutMe}} </p>
            
            <h4>Homepage</h4>
            <p class="content" *ngIf="profile"> {{profile.homepage}} </p>
            
            <h4>Location</h4>
            <p class="content" *ngIf="profile"> {{profile.location}} </p>
            
            <h4>Occupation</h4>
            <p class="content" *ngIf="profile">  {{profile.occupation}} </p>
            
            <p  class="content" *ngIf="profile"> {{profile.coins}}</p>
          </div>
        </div>
        
        <div class="card">
          <h4 class="title">Critika Rating</h4>
          <div>
            <p class="content"  *ngIf="profile && r > 0"> {{r}}/5</p>
            <p class="content"  *ngIf="profile && r == 0"> Not yet rated</p>
          </div>
        </div>
        
        <div class="card">
          <h4 class="title">Member Since</h4>
          <div>
            <p  class="content" *ngIf="profile"> {{profile.memberSince.substring(0,10)}}</p>
          </div>
        </div>
        
        <div class="card">
          <h4 class="title">Critika Coins</h4>
          <div>
            <p  class="content" *ngIf="profile"> {{profile.coins}}</p>
          </div>
        </div>
        
        <div class="card">
          <h4 class="title">Critika Coins</h4>
          <div>
            <p  class="content" *ngIf="profile"> {{profile.coins}}</p>
          </div>
        </div>
        
        <div class="card">
          <h4 class="title">Number of Submissions</h4>
          <div>
            <p  class="content" *ngIf="profile"> {{profile.submissionNum}}</p>
          </div>
        </div>
        
      </mdb-card-body>
    </mdb-card>
  </div>  
</div>










