<div *ngIf = "edit == false" class="all-cards">

    <mdb-card class="about-me-card">
        <mdb-card-body class="about-me-card">
            <h4>About Me</h4>
            <h1 *ngIf="profile"> Hi I'm {{profile.username}} </h1>
        </mdb-card-body>
    </mdb-card>


    <mdb-card class="card">
        <mdb-card-body>
            <h4>Coins</h4>
            <h1 *ngIf="profile"> {{profile.coins}}</h1>
        </mdb-card-body>
    </mdb-card>


    <mdb-card class="card">
        <mdb-card-body>
            <h4>Critika Rating</h4>
            <h1 *ngIf="profile"> {{profile.rating}}</h1>
        </mdb-card-body>
    </mdb-card>

    <mdb-card>
        <mdb-card-body>
            <h4>Member Since:</h4>
            <h1 *ngIf="profile"> {{profile.memberSince.substring(0,10)}}</h1>
        </mdb-card-body>
    </mdb-card>


    <mdb-card class="card">
        <mdb-card-body>
            <h4>Total Number of Submissions</h4>
            <h1 *ngIf="profile"> {{profile.submissionNum}}</h1>
        </mdb-card-body>
    </mdb-card>
</div>

<app-spend-coins *ngIf="renderComponent == 'SpendCoins' "></app-spend-coins>
<app-add-sub *ngIf="renderComponent == 'AddSub' "></app-add-sub>
<app-edit-profile *ngIf="renderComponent == 'EditProfile' "></app-edit-profile>
<button type="button" (click)="renderSpendCoins()" class="btn btn-secondary">Spend Coins</button>
<button type="button" (click)="renderAddSub()" class="btn btn-secondary">Add Submission</button>
<button type="button" (click)="renderEditProfile()" class="btn btn-secondary">Edit Profile</button>