<mdb-card *ngIf = "toRate == false" class="animated fadeInUp">
  <mdb-card-body>
    <mdb-card-title>
      <h4 class="title">My Feedbacks</h4>
    </mdb-card-title>
    
   
    <p class="alert" *ngIf = "this.isEmpty == true"> You have no feedbacks </p>
    <table  mdbTable class="table table-bordered table-striped table-wrapper-scroll-y">
      <thead class="tableColor white-text">
        <tr>
          <th *ngFor="let el of tableElements" scope="col">{{el}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of myFeedbacks">
          <td>{{f.submissionName}}</td>
          <td *ngIf="f.anonymous == false">{{f.critiquer}}</td>
          <td *ngIf="f.anonymous == true"> Anonymous </td>
          <td>{{f.feedbackGood}}</td>
          <td>{{f.feedbackBad}}</td>
          <td>{{f.feedbackWork}}</td>
          
          <td *ngIf="f.feedbackRating == 0">
            <app-rate-feedback [childFeedback]="chosen" (returnToParent)="getChildEvent($event)" *ngIf="renderComponent == 'rate-feedback' "></app-rate-feedback>
            <button *ngIf="renderComponent !='rate-feedback'"  mdbWavesEffect mdbBtn (click) = "renderRateFeedback(f)" class="softblue btn-sm">Rate</button>
          </td>
          
          <td *ngIf="f.feedbackRating != 0">
            <p>{{f.feedbackRating}}/5</p>
          </td>
        </tr>
      </tbody>
    </table>
  </mdb-card-body>
  
  
</mdb-card>



