<div class="p-2 profile animated fadeInUp">
    <mdb-card>
        <mdb-card-body>
            <p class="h4 mb-4">Edit Account Information</p>
            <form>
                <label>Current Username: {{username}}</label>
                <input type="text" placeholder="New Username" class="form-control">
                <label>Current Email: {{email}}</label>
                <input type="text" placeholder="New Email" class="form-control">
            </form>
        </mdb-card-body>
    </mdb-card>
</div>