
<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h5 class="cardTitle">My Submissions</h5>
    </mdb-card-title>
    
    <div class="stuff">
      <p class="submissionName">{{sub.submissionName}}</p>
      <p class="subContent">Link: {{sub.submissionLink}} </p>
      <p class="subContent">Category: {{sub.category}}</p>
      <p class="subContent">Skill Level: {{sub.submissionSkillLevel}}</p>
      <p class="subContent">Description: {{sub.submissionDescription}}</p>
      <p class="subContent">Desired Feedback: {{sub.submissionText}}</p>
      
      
      <p id="comments">Comments</p>
      <div *ngIf="sub.comments.length == 0">
        <p >There are currently no comments on this submission.</p>
      </div>
      
      <div *ngIf="sub.comments.length > 0">
        <table  mdbTable class="table table-bordered table-striped table-wrapper-scroll-y">
          <thead class="tableColor white-text">
            <tr>
              <th *ngFor="let el of tableElements" scope="col">{{el}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of sub.comments">
              <td>{{c.user}}</td>
              <td>{{c.message}}</td>
              <td>
                <button type="button" (click) = "sendReport(sub, c.message,c)" class="btn btn-danger btn-sm">REPORT COMMENT</button>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
      
      
      
      <div class="md-form">
        <textarea id="textarea-char-counter" class="form-control md-textarea" length="120" rows="3" placeholder="Leave a Comment" [(ngModel)]="comment"></textarea>
        <button (click)="addComment(sub)" class="btn btn-light-blue">Submit comment</button>
      </div>
      
    </div>
    
    <app-edit-sub [childSubmission]='sub' *ngIf="renderComponent == 'EditSub' " (returnToParent)="getChildEvent($event)"></app-edit-sub>
    <button mdbBtn type="submit" (click) = "renderEditSub(submission)" class="btn tableColor" block="true">Edit Submission</button>
    <br>
    <button mdbBtn type="button" (click) = "close()" color="danger" outline="true" mdbWavesEffect block="true">Close</button>
    
  </mdb-card-body>
</mdb-card>



<!-- 
  
  
  
  <div class="p-2 profile">
    <div class="d-flex flex-row">
      <div class="p-2 no">
        <div class="d-flex flex-column">
          <div class="p-2 no">
            <mdb-card class="outerCard" *ngIf="sub != null">
              <h1 class="submissionName">{{sub.submissionName}}</h1>
              <h1>Link</h1>
              <p >{{sub.submissionLink}}</p>
              <h1>Category</h1>
              <p >{{sub.category}}</p>
              <h1>Skill Level</h1>
              <p >{{sub.submissionSkillLevel}}</p>
              <h1>Description</h1>
              <p>{{sub.submissionDescription}}</p>   
              <h1>Desired Feedback</h1>
              <p>{{sub.submissionText}}</p>
              
              <h1>Comments</h1>
              <div class="md-form">
                <button href="#" (click)="addComment(sub)" class="btn btn-secondary btn-sm">Submit comment</button>
                <textarea id="textarea-char-counter" class="form-control md-textarea" length="120" rows="3" placeholder="Leave a Comment" [(ngModel)]="comment"></textarea>
              </div>
              
              <div *ngIf="sub.comments.length > 0">
                
                
                <ul>
                  <table class="table table-bordered table-striped table-wrapper-scroll-y">
                    <thead>
                      <tr>
                        <th scope="col">User</th>
                        <th>Comment</th>
                        <th>Report</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let c of sub.comments">
                        <td>
                          <p>{{c.user}}</p>
                        </td>
                        <td>
                          <p>{{c.message}}</p>
                        </td>
                        <td>
                          <button type="button" (click) = "sendReport(sub, c.message,c)" class="btn btn-secondary">REPORT COMMENT</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ul>
              </div>
              
              
              <div *ngIf="sub.comments.length == 0">
                <h1>Comments</h1>
                <p >There are currently no comments on this submission.</p>
              </div>
              
              <button type="button" (click) = "renderEditSub(submission)" class="btn btn-secondary">Edit Submission</button>
              <button type="button" (click) = "close()" class="btn btn-secondary">Close</button>
              
            </mdb-card>
          </div>
        </div>
      </div>
      <div class="p-2 no">
        <div class="d-flex flex-column">
          <div class="p-2 no">
            <app-edit-sub [childSubmission]='sub' *ngIf="renderComponent == 'EditSub' " (returnToParent)="getChildEvent($event)"></app-edit-sub>
          </div>
        </div>
      </div>
    </div>
  </div> -->