.outerCard {
    width: 100%;
    height: 100%;
}

.d-flex{
    width:100% !important
}

.sub-card{
    
    padding: 20px;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.submissionName{
    text-align: center;
}