<div>
    <mdb-card class="outerCard" *ngIf="sub != null">
          <h1 text-align="center">{{sub.submissionName}}</h1>
          <p >Category: {{sub.category}}</p>
          <p >Skill Level: {{sub.submissionSkillLevel}}</p>
          <p >Description: {{sub.submissionText}}</p>   
          <p *ngIf="sub.comments.length > 0">Comments: {{sub.comments}}</p>
          <p *ngIf="sub.comments.length == 0">There are currently no comments on this submission.</p>
          <button type="button" (click) = "renderEditSub(submission)" class="btn btn-secondary">Edit Submission</button>
          <app-edit-sub [childSubmission]='chosenSubmission' *ngIf="renderComponent == 'EditSub' " (returnToParent)="getChildEvent($event)"></app-edit-sub>

    </mdb-card>
  </div>