.outerCard {
    padding: 30px;
    width: 1000px;
    height: 1900px;
}

.d-flex{
    width:100% !important
}

.sub-card{
    
    padding: 20px;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 500px;
    max-width: 750px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.submissionName{
    text-align: center;
    font-size: 100px;
}