.stff {
    margin-bottom: 20px;
}

.d-flex{
    width:100% !important
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 50%;
    max-width: 100%;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.cardTitle {
    text-align: center;
}

.submissionName{
    text-align: center;
    font-size: 22pt;
}
#comments {
    font-size: 18pt;
}