<mdb-card class="outerCard">
  <!--Card image-->
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h1 class="header">Add Submission</h1>
    </mdb-card-title>

    <!--Text-->
    <div class="md-form" *ngIf="CatChosen == false">
      <input type="text" [(ngModel)]="queryString" id="search" class="form-control" placeholder="Search for categories"
        title="Type in a category">
      <ul *ngFor="let c of categoriesForFilter | searchPipe: queryString" id="cats">
        <button (click)="choseCat(c.categoryName)" type="button" class="btn btn-primary btn-sm">{{c.categoryName}}</button>
      </ul>
    </div>
    <div class="md-form" *ngIf="CatChosen == true">
      {{C}}
    </div>




    <form (submit)="sendSubmission(f)" #f="ngForm" [formGroup]="addSubForm">

      <!--Text-->
      <div class="md-form">
        <input ngModel formControlName="Link" type="text" id="form1" class="form-control" placeholder="Add Link Here"
          [ngClass]="{ 'is-invalid': submitted && form.Link.errors }">
        <div *ngIf="submitted && form.Link.errors" class="invalid-feedback">
          <div *ngIf="form.Link.errors.required">Submission Link is Required</div>
        </div>
      </div>

      <!--Text-->
      <div class="md-form">
        <input ngModel formControlName="SubName" type="text" id="form1" class="form-control" placeholder="Submission Name"
          [ngClass]="{ 'is-invalid': submitted && form.SubName.errors }">
        <div *ngIf="submitted && form.SubName.errors" class="invalid-feedback">
          <div *ngIf="form.SubName.errors.required">Submission Name is Required</div>
        </div>
      </div>

      <!--Text-->
      <div class="md-form">
        <input ngModel formControlName="Description" type="text" id="form1" class="form-control" placeholder="Description"
          [ngClass]="{ 'is-invalid': submitted && form.Description.errors }">
        <div *ngIf="submitted && form.Description.errors" class="invalid-feedback">
          <div *ngIf="form.Description.errors.required">Description is Required</div>
        </div>
      </div>




      <!--Basic textarea-->
      <div class="md-form">
        <textarea formControlName="feedback" type="text" id="form7" class="md-textarea form-control" rows="3" [ngClass]="{ 'is-invalid': submitted && form.feedback.errors }"></textarea>
        <label for="form7">What feedback are you looking for?</label>
        <div *ngIf="submitted && form.feedback.errors" class="invalid-feedback">
          <div *ngIf="form.feedback.errors.required">Feedback is Required</div>
        </div>
      </div>

      <div class="form-group">
        <!-- <form [formGroup]="addSubForm"> -->
        <div class="form-group">
          <label>Skill Level</label>
          <select class="form-control" formControlName="skill">
            <option [value]="s" *ngFor="let s of skills">
              {{s}}</option>
          </select>
        </div>
        <!-- </form> -->
      </div>

      <button class="btn btn-primary waves-light" mdbWavesEffect type="submit">Submit</button>
      <button (click)="cancelSubmission()" class="btn btn-primary waves-light" mdbWavesEffect type="cancel">Cancel</button>

    </form>



  </mdb-card-body>
</mdb-card>