
<mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h5 class="cardTitle">Created By: {{sub.username}}</h5>
      </mdb-card-title>
      
      <div class="stuff">
        <p class="submissionName">{{sub.submissionName}}</p>
        <p class="subContent">Link: {{sub.submissionLink}} </p>
        <p class="subContent">Category: {{sub.category}}</p>
        <p class="subContent">Skill Level: {{sub.submissionSkillLevel}}</p>
        <p class="subContent">Description: {{sub.submissionDescription}}</p>
        <p class="subContent">Desired Feedback: {{sub.submissionText}}</p>
        
        
        <p id="comments">Comments</p>
        <div *ngIf="sub.comments.length == 0">
          <p >There are currently no comments on this submission.</p>
        </div>
        
        <div *ngIf="sub.comments.length > 0">
          <table  mdbTable class="table table-bordered table-striped table-wrapper-scroll-y">
            <thead class="tableColor white-text">
              <tr>
                <th *ngFor="let el of tableElements" scope="col">{{el}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of sub.comments">
                <td>{{c.user}}</td>
                <td>{{c.message}}</td>
                <td>
                  <button type="button" (click) = "sendReport(sub, c.message,c)" class="btn btn-danger btn-sm">REPORT COMMENT</button>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
        
        
        
        <div class="md-form">
          <textarea id="textarea-char-counter" class="form-control md-textarea" length="120" rows="3" placeholder="Leave a Comment" [(ngModel)]="comment"></textarea>
          <button mdbBtn  (click)="addComment(sub)" class="softblue" block="true">Submit Comment</button>
        </div>
        
      </div>
      <button mdbBtn type="button" (click) = "close()" color="danger" outline="true" mdbWavesEffect block="true">Close</button>
      
    </mdb-card-body>
  </mdb-card>