
<mdb-card *ngIf="sub != null" class="outerCard">

  <mdb-card-body >

    <mdb-card-title> <h1 class="header">Edit Submission</h1> </mdb-card-title>

    <div class="md-form">
      <textarea mdbInputDirective type="text" id="form7" class="md-textarea form-control" rows="3" [(ngModel)]="link"></textarea>
      <label for="form7">Link</label>
    </div>

    <div class="md-form">
      <textarea mdbInputDirective type="text" id="form7" class="md-textarea form-control" rows="3" [(ngModel)]="description"></textarea>
      <label for="form7">Description</label>
    </div>

    <div class="md-form">
        <textarea mdbInputDirective type="text" id="form7" class="md-textarea form-control" rows="3" [(ngModel)]="feedback"></textarea>
        <label for="form7">What feedback are you looking for?</label>
      </div>


    <a  (click) = "sendEdits(sub)" class="btn btn-primary waves-light" mdbWavesEffect>Submit</a>
    <a  (click) = "cancelEdits()" class="btn btn-primary waves-light" mdbWavesEffect>Cancel</a>
    
  </mdb-card-body>
</mdb-card>
