.outerCard {
    width: 100%;
    height: 100%;
}

.header{
    text-align: center;
}

.btn-outline-danger {
    border: 2px solid rgb(242, 168, 166) !important;
    background-color: transparent !important;
    color: rgb(242, 168, 166) !important;
}