<div *ngIf="displayUser != null">
    <div class="page" >
        <div class="p-2 no">
          <mdb-card class="card main" >
            <mdb-card-body>
                <mdb-card-title>
                    <h4 class="userTitle">{{displayUser.username}}</h4>
                  </mdb-card-title>
              
              <div class="card">
                <p class="title">About Me</p>
                <div>
                  <p class="content" *ngIf="displayUser"> {{displayUser.aboutMe}} </p>
                </div>
              </div>
              
              <div class="d-flex flex-column">
                <div class="p-2">
                  <!-- Left Column-->
                  <div class="d-flex flex-row">
                    <div class="p-2 flex-fill"> 
                      <div class="card">
                        <p class="title"> Homepage</p>
                        <div>
                          <p class="content" *ngIf="displayUser"> {{displayUser.homepage}} </p>
                        </div>
                      </div>
                    </div>
                    <div class="p-2 flex-fill">
                      <div class="card">
                        <p class="title"> Occupation</p>
                        <div>
                          <p class="content" *ngIf="displayUser"> {{displayUser.occupation}} </p>
                        </div>
                      </div>
                    </div> 
                    <div class="p-2 flex-fill"> 
                      <div class="card">
                        <p class="title"> Location</p>
                        <div>
                          <p class="content" *ngIf="displayUser"> {{displayUser.location}} </p>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <!-- Right column-->
                  <div class="d-flex flex-row">
                    <div class="p-2 flex-fill">
                      <div class="card">
                        <p class="title">Submissions</p>
                        <div>
                          <p  class="content" *ngIf="displayUser"> {{displayUser.submissionNum}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="p-2 flex-fill">
                      <div class="card">
                        <p class="title">Total Coins</p>
                        <div>
                          <p  class="content" *ngIf="displayUser"> {{displayUser.critiqueNum}}</p>
                          
                        </div>
                      </div>
                    </div>  
                    <div class="p-2 flex-fill">
                      <div class="card">
                        <p class="title">Critika Rating</p>
                        <div>
                          <p class="content"  *ngIf="displayUser && r > 0"> {{r}}/5</p>
                          <p class="content"  *ngIf="displayUser && displayUser.rating == 0"> Not yet rated</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="card">
                <p class="title"> Member Since</p>
                <div>
                  <p class="content" *ngIf="displayUser"> {{displayUser.memberSince.substring(0,10)}} </p>
                </div>
              </div> 
              <button mdbBtn block="true" (click)="returnToDashboard()" class="btn tableColor" type="button">Return</button>
              
              
              
              
              
              
              
              
              
              
              <!-- Right column-->
              
              
              
              
              
              
              
              
            </mdb-card-body>
            <!-- <app-edit-profile *ngIf="renderComponent == 'EditProfile' "  [childProfile]="profile" (returnToParent)="getChildEvent($event)"></app-edit-profile> -->
            <!-- <button mdbBtn block="true" (click)="renderEditProfile()" class="btn tableColor" type="button">Edit Profile</button> -->
            <!-- <button type="button" block="true" (click)="renderEditProfile()" class="btn btn-secondary">Edit Profile</button> -->
          </mdb-card>
          
          
        </div>  
        <app-edit-profile *ngIf="renderComponent == 'EditProfile' "  [childProfile]="profile" (returnToParent)="getChildEvent($event)"></app-edit-profile>
        
        
      </div>
</div>

