<form (submit)="onSignup(f)" #f="ngForm" class="text-center border border-light p-5" [formGroup]="signUpForm">
  <mdb-card>
    <mdb-card-body>
      <p class="h4 mb-4">Register</p>

      <!-- Username -->
      <div class="form-group">
        <label>Username</label>
        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username"
          [ngClass]="{ 'is-invalid': submitted && form.username.errors }" />
        <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
          <div *ngIf="form.username.errors.required">Username is required</div>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label>Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password"
          [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
        <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required">Password is required</div>
          <div *ngIf="form.password.errors.minlength">Password must be 8 characters long</div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
          <div *ngIf="form.email.errors.required">Email is required</div>
          <div *ngIf="form.email.errors.email">Must be a valid email</div>
        </div>
      </div>

      <!-- Security Question -->
      <div class="form-group">
        <label>Security Question</label>
        <select id="securityquestion" class="form-control" formControlName="securityquestion">
          <option [value]="question" *ngFor="let question of questions">
            {{question}}</option>
        </select>
      </div>

      <!-- Security Question Answer -->
      <div class="form-group">
        <label>Security Question Answer</label>
        <input type="text" formControlName="securityanswer" id="securityanswer" class="form-control" placeholder="Security Quesiton Answer"
          [ngClass]="{ 'is-invalid': submitted && form.securityanswer.errors }">
        <div *ngIf="submitted && form.securityanswer.errors" class="invalid-feedback">
          <div *ngIf="form.securityanswer.errors.required">Security Question Answer is required</div>
        </div>
      </div>

      <!-- Sign in button -->
      <button mdbBtn color="info" block="true" class="my-4" type="submit">Register</button>

      <!-- Login -->
      <p>Already Have an Account?
        <a routerLink="/login">Login</a>
      </p>

      <!-- Info Toasts -->
      <div *ngIf="getIncompleteForm() === 'incomplete'" class="alert alert-danger" role="alert">
        Form is Incomplete
      </div>
      <div *ngIf="getIncompleteForm() === 'duplicate'" class="alert alert-danger" role="alert">
        Account with that Username / Email Already Exists
      </div>
      <div *ngIf="getIncompleteForm() === 'failed'" class="alert alert-danger" role="alert">
        Something went wrong. If this continues, please conatact the support team for assistance.
      </div>
      <!-- <div *ngIf="getIncompleteForm() === 'complete'" class="alert alert-success" role="alert">
        Account Successfully Created
      </div> -->
      <div *ngIf="getIncompleteForm() === 'complete'" #alert class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        Account Successfully Created! <strong>You'll need to verify your account before you can log in. Please check your Email for the verification code.</strong>
      </div>
    </mdb-card-body>
  </mdb-card>
</form>
 