
<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h4 class="title">My Submissions</h4>
    </mdb-card-title>
    
    <table  mdbTable class="table table-bordered table-striped table-wrapper-scroll-y">
      <thead class="tableColor white-text">
        <tr>
          <th *ngFor="let el of tableElements" scope="col">{{el}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of mySubmissions">
          <td>{{submission.submissionName}}</td>
          <td>{{submission.submissionText}}</td>
          <td>{{submission.category}}</td>
          <td>
            <button type="button" (click) = "renderViewSub(submission)" class="btn btn-light-blue btn-sm">View Submission</button>
          </td>
        </tr>
      </tbody>
    </table>

  </mdb-card-body>
  <button type="button" (click)="renderAddSub()" class="btn tableColor">Add Submission</button>
  
  <app-view-sub (returnToParent)="getChildEvent($event)" [childSubmission]='chosenSubmission' *ngIf="renderComponent == 'ViewSub' "></app-view-sub>
  <app-add-sub (returnToParent)="getChildEvent($event)" *ngIf="renderComponent == 'AddSub' "></app-add-sub>

</mdb-card>
