<div class="p-2 profile">
  <mdb-card class="outerCard">
    <button (click)="getSubmissionsPls()">Get Submissions</button>
    <ul>
      <div *ngFor="let submission of mySubmissions">
        <li>{{submission.submissionName}}</li>
        <li> {{submission.submissionText}}</li>
      </div>
    </ul>
    <button type="button" class="btn btn-secondary">File Report</button>
    
    <!-- Render the other component stuff -->
    <div class="d-flex flex-column justify-content-center animated fadeInUp">
        
    <app-file-report *ngIf="renderComponent == 'file-report'"></app-file-report>
      </div>
  </mdb-card>
</div>