<div class="p-2 profile animated fadeInUp" *ngIf="renderComponent != 'critique-form'">
  <mdb-card class="outerCard">

    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h2>Available Submissions To Critique</h2>
      </mdb-card-title>

      <table mdbTable>
        <thead class="black white-text">
          <tr>
            <th *ngFor="let el of tableElements" scope="col">{{el}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let sub of possibleSubs">
            <th scope="row">{{sub.submissionName}}</th>
            <td>{{sub.submissionText}}</td>
            <td>{{sub.username}}</td>
            <td>{{sub.category}}</td>
            <td><span class="badge badge-primary badge-pill">{{sub.numberOfCritiquesReceived}}</span></td>
            <td><button (click)="renderCritiqueForm(sub)" >Test</button></td>
          </tr>
        </tbody>
      </table>


    </mdb-card-body>
  </mdb-card>
</div>

<!-- Render the other component stuff -->
<div class="d-flex flex-column justify-content-center animated fadeInUp">
  <app-critique-form *ngIf="renderComponent == 'critique-form'" [submission]="chosen"(returnToParent)="getChildEvent($event)" ></app-critique-form>
</div>