<div class="d-flex flex-column">
        
        <div class="p-2 no l">
                <nav class="navbar navbar-dark fixed-top tableColor">
                        <a class="navbar-brand" href="#">Critika
                          
                        </a>
                </nav>
        </div>

        <div class="p-2 no">
            <div class="d-flex flex-row">
                <div class="p-2 side"><app-sidenav></app-sidenav></div>
                <div class="p-2 xd"><router-outlet></router-outlet></div>
            </div>
        </div>
</div>


