.side{
    width: 270px;
    padding: 0rem !important
}

.fix{
    position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
}
.l{
    z-index: 10700;
}

.no{
    padding: 0rem !important
}

.xd{
    padding-top: 5rem !important;
}