<mdb-card>
    <!--C-->
    <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
            <h4>Admin</h4>
        </mdb-card-title>

        <!--Main wrapper-->
        <div class="comments-list text-left">
            <div class="section-heading">
                <h3>Reported Comments<span class="badge blue">3</span></h3>
            </div>
            <!--First row-->
            <div class="row">
                <!--Image column-->
                <div class="col-sm-2 col-12">
                </div>
                <!--/.Image column-->
                <!--Content column-->
                <div class="col-sm-10 col-12">
                    <a>
                        <h3 class="user-name">John Doe</h3>
                    </a>
                    <div class="card-data">
                        <ul class="pl-0 list-unstyled">
                            <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                        </ul>
                    </div>
                    <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
                <!--/.Content column-->
            </div>
            <!--/.First row-->

        </div>
        <!--/.Main wrapper-->





        <!--Main wrapper-->
        <div class="comments-list text-left">
            <div class="section-heading">
                <h3>Reported Submissions <span class="badge blue">3</span></h3>
            </div>
            <!--First row-->
            <div class="row">
                <!--Image column-->
                <div class="col-sm-2 col-12">
                </div>
                <!--/.Image column-->
                <!--Content column-->
                <div class="col-sm-10 col-12">
                    <a>
                        <h3 class="user-name">John Doe</h3>
                    </a>
                    <div class="card-data">
                        <ul class="pl-0 list-unstyled">
                            <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                        </ul>
                    </div>
                    <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
                <!--/.Content column-->
            </div>
            <!--/.First row-->

        </div>
        <!--/.Main wrapper-->





        <!--Main wrapper-->
        <div class="comments-list text-left">
            <div class="section-heading">
                <h3>Suggested Categories<span class="badge blue">3</span></h3>
            </div>
            <!--First row-->
            <div class="row">
                <!--Image column-->
                <div class="col-sm-2 col-12">
                </div>
                <!--/.Image column-->
                <!--Content column-->
                <div class="col-sm-10 col-12">
                    <a>
                        <h3 class="user-name">John Doe</h3>
                    </a>
                    <div class="card-data">
                        <ul class="pl-0 list-unstyled">
                            <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                        </ul>
                    </div>
                    <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
                <!--/.Content column-->
            </div>
            <!--/.First row-->

        </div>
        <!--/.Main wrapper-->
        <div>
            <button type="button" class="btn btn-secondary" (click)="basicModal.show()"> Ban User </button>
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 id="myModalLabel1">Ban User</h4>
                        </div>
                        <div class="modal-body">

                            <label for="form1" class="">User:</label>
                            <input mdbInputDirective type="text" id="form1" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                                (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Submit
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <button type="button" class="btn btn-secondary" (click)="basicModal.show()"> Restore User </button>
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 id="myModalLabel2"> Restore User</h4>
                        </div>
                        <div class="modal-body">

                            <label for="form1" class="">User:</label>
                            <input mdbInputDirective type="text" id="form1" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                                (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Submit
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <button type="button" class="btn btn-secondary" (click)="basicModal.show()"> Make User an Admin </button>
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 id="myModalLabel3">User:</h4>
                        </div>
                        <div class="modal-body">

                            <label for="form1" class="">User:</label>
                            <input mdbInputDirective type="text" id="form1" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                                (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Submit
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul>
            <div *ngFor="let user of allUsers">
                <li>
                    {{user.username}} 
                    <button *ngIf="user.standing == 'banned'">Unban</button>
                    <button *ngIf="user.standing == 'good'">Ban</button>
                </li>
            </div>
        </ul>

    </mdb-card-body>
</mdb-card>