<mdb-card>
  <!--C-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title> <h4>Admin</h4> </mdb-card-title>

    <!--Main wrapper-->
    <div class="comments-list text-left">
      <div class="section-heading">
          <h3>Reported Comments<span class="badge blue">3</span></h3>
      </div>
      <!--First row-->
      <div class="row">
          <!--Image column-->
          <div class="col-sm-2 col-12">
          </div>
          <!--/.Image column-->
          <!--Content column-->
          <div class="col-sm-10 col-12">
              <a><h3 class="user-name">John Doe</h3></a>
              <div class="card-data">
                  <ul class="pl-0 list-unstyled">
                      <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                  </ul>
              </div>
              <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          </div>
          <!--/.Content column-->
      </div>
      <!--/.First row-->
      
    </div>
    <!--/.Main wrapper-->





    <!--Main wrapper-->
    <div class="comments-list text-left">
      <div class="section-heading">
          <h3>Reported Submissions <span class="badge blue">3</span></h3>
      </div>
      <!--First row-->
      <div class="row">
          <!--Image column-->
          <div class="col-sm-2 col-12">
          </div>
          <!--/.Image column-->
          <!--Content column-->
          <div class="col-sm-10 col-12">
              <a><h3 class="user-name">John Doe</h3></a>
              <div class="card-data">
                  <ul class="pl-0 list-unstyled">
                      <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                  </ul>
              </div>
              <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          </div>
          <!--/.Content column-->
      </div>
      <!--/.First row-->
      
    </div>
    <!--/.Main wrapper-->





    <!--Main wrapper-->
    <div class="comments-list text-left">
      <div class="section-heading">
          <h3>Suggested Categories<span class="badge blue">3</span></h3>
      </div>
      <!--First row-->
      <div class="row">
          <!--Image column-->
          <div class="col-sm-2 col-12">
          </div>
          <!--/.Image column-->
          <!--Content column-->
          <div class="col-sm-10 col-12">
              <a><h3 class="user-name">John Doe</h3></a>
              <div class="card-data">
                  <ul class="pl-0 list-unstyled">
                      <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                  </ul>
              </div>
              <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          </div>
          <!--/.Content column-->
      </div>
      <!--/.First row-->
      
    </div>
    <!--/.Main wrapper-->
  </mdb-card-body>
</mdb-card>
