
<mdb-card>
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title> <h4>Spend Coins</h4> <h1>Coins: {{Coins}}</h1> </mdb-card-title>

    <!--Carousel Wrapper-->
    <mdb-carousel class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
      <!--First slide-->
      <mdb-carousel-item>
        <div class="col-md-4">
          <mdb-card>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Card title</h4>
              </mdb-card-title>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button (click)="spendCoins()">Spend Coin</button>
              <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <mdb-card>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Card title</h4>
              </mdb-card-title>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button (click)="spendCoins()">Spend Coin</button>
              <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <mdb-card>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Card title</h4>
              </mdb-card-title>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button (click)="spendCoins()">Spend Coin</button>
              <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-carousel-item>
        <div class="col-md-4">
          <mdb-card>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Card title</h4>
              </mdb-card-title>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button (click)="spendCoins()">Spend Coin</button>
              <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <mdb-card>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(48).jpg" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Card title</h4>
              </mdb-card-title>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button (click)="spendCoins()">Spend Coin</button>
              <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <mdb-card>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Card title</h4>
              </mdb-card-title>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button (click)="spendCoins()">Spend Coin</button>
              <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
      <!--/Second slide-->
      
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </mdb-card-body>
</mdb-card>