.p{
    margin-bottom: 2.4rem !important;
}

.cardTitle{
    text-align: left;
    font-size: 40pt;
   
    margin-right: 900px;
  }

  .cardSubTitle{
    text-align: left;
    font-size: 20pt;
    
  }
  
  .center{
      text-align: center;
  }