<div class="d-flex flex-column">
        <!--
        <div class="p-2 no l">
                <nav class="navbar navbar-dark primary-color fixed-top">
                        <a class="navbar-brand" href="#">
                          <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" class="d-inline-block align-top"
                            alt="mdb logo"> Bootstrap
                        </a>
                </nav>
        </div>
    -->
        <div class="p-2 no">
            <div class="d-flex flex-row">
                <div class="p-2 side"><app-sidenav></app-sidenav></div>
                <div class="p-2"><router-outlet></router-outlet></div>
            </div>
        </div>
</div>


