<div class="p-2 profile animated fadeInUp">
    <mdb-card>
        <mdb-card-body>
            <p class="h3 mb-4">Forgot Password</p>
            <form (submit)="onSubmitReset(f)" #f=ngForm [formGroup]="resetPasswordForm">

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" placeholder="Email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
                    <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                        <div *ngIf="form.email.errors.email">Invalid Email</div>
                        <div *ngIf="form.email.errors.required">Please Enter an Email</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Security Question</label>
                    <select id="securityquestion" class="form-control" formControlName="securityquestion">
                        <option [value]="question" *ngFor="let question of questions">
                            {{question}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Security Question Answer</label>
                    <input type="text" formControlName="securityanswer" id="securityanswer" class="form-control"
                        placeholder="Security Quesiton Answer" [ngClass]="{ 'is-invalid': submitted && form.securityanswer.errors }">
                    <div *ngIf="submitted && form.securityanswer.errors" class="invalid-feedback">
                        <div *ngIf="form.securityanswer.errors.required">Security Question Answer is
                            required</div>
                    </div>
                </div>
                <button mdbBtn color="info" block="true" class="my-4" type="submit">Reset Password</button>

            </form>

            <!-- Alert Toasts -->
            <div *ngIf="response_msg === 'complete'" class="alert alert-success" role="alert">
                Password Successfully Reset. Please Check Your Email for the New Password.
            </div>
            <div *ngIf="response_msg === 'fatalError'" class="alert alert-danger" role="alert">
                Fatal Error. Please Try Again Later.
            </div>
            <div *ngIf="response_msg === 'noMatch'" class="alert alert-danger" role="alert">
                Security Question or Answer Does Not Match.
            </div>
            <div *ngIf="response_msg === 'noEmail'" class="alert alert-danger" role="alert">
                Account Does Not Exist In Our Records.
            </div>
        </mdb-card-body>
    </mdb-card>
</div>