<div class="p-2 profile animated fadeInUp">
  <mdb-card>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h2 class="center ">Top Contributors</h2>
      </mdb-card-title>

      <table mdbTable>
        <thead class="tableColor white-text">
          <tr>
            <th *ngFor="let el of tableElements" scope="col">{{el}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let usr of usersForward">
            <th scope="row">{{usr.username}}</th>
            <th scope="row">{{usr.submissionNum}}</th>
            <th scope="row">{{usr.critiqueNum}}</th>
            <th scope="row">{{usr.userRating}}</th>
            <!-- <td>{{sub.submissionText}}</td>
            <td (click)="renderUser(sub.username)" class="underline">{{sub.username}}</td>
            <td>{{sub.category}}</td>
            <td><span class="badge badge-primary badge-pill softblue">{{sub.numberOfCritiquesReceived}}</span></td>
            <td><button (click)="renderCritiqueForm(sub)" >Test</button></td> -->
          </tr>
        </tbody>
      </table>
    </mdb-card-body>
  </mdb-card>
</div>

<!-- Render the other component stuff -->
<!-- <div class="d-flex flex-column justify-content-center animated fadeInUp">
  <app-critique-form *ngIf="renderComponent == 'critique-form'" [submission]="chosen"(returnToParent)="getChildEvent($event)" ></app-critique-form>
  <app-user-profile *ngIf="renderComponent == 'user'" [chosenUser]="chosenUser" ></app-user-profile>
</div> -->

