<div class="p-2 profile animated fadeInUp" *ngIf="renderComponent == 'dash'">
  <mdb-card>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
          <h2 class="cardTitle">Top Contributors</h2>
      </mdb-card-title>

      <table mdbTable>
        <thead class="tableColor white-text">
          <tr>
            <th *ngFor="let el of tableElements" scope="col"><h1 class="header">{{el}}</h1> </th>
            <th (click)="getLeaderBoardReverse()"><h1 class="header">Rating<i class=" fa fa-filter" aria-hidden="true"></i> </h1></th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let usr of usersForward">
            <th scope="row" (click)="renderUser(usr.username)" class="cardBody underline">{{usr.username}}</th>
            <th class= "cardBody"scope="row">{{usr.submissionNum}}</th>
            <th class= "cardBody"scope="row">{{usr.critiqueNum}}</th>
            <th class= "cardBody"scope="row">{{usr.userRating}}/5</th>
            <!-- <td>{{sub.submissionText}}</td>
            <td (click)="renderUser(sub.username)" class="underline">{{sub.username}}</td>
            <td>{{sub.category}}</td>
            <td><span class="badge badge-primary badge-pill softblue">{{sub.numberOfCritiquesReceived}}</span></td>
            <td><button (click)="renderCritiqueForm(sub)" >Test</button></td> -->
          </tr>
        </tbody>
      </table>
    </mdb-card-body>
  </mdb-card>
</div>

<app-user-profile *ngIf="renderComponent == 'user'" (returnToParent)="getChildEvent($event)"[chosenUser]="chosenUser" ></app-user-profile>


<!-- Render the other component stuff -->
<!-- <div class="d-flex flex-column justify-content-center animated fadeInUp">
  <app-critique-form *ngIf="renderComponent == 'critique-form'" [submission]="chosen"(returnToParent)="getChildEvent($event)" ></app-critique-form>
  <app-user-profile *ngIf="renderComponent == 'user'" [chosenUser]="chosenUser" ></app-user-profile>
</div> -->

