<div class="sidebar-fixed position-fixed">

  <a class="logo-wrapper waves-effect">
      <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="">
  </a>

  <div class="list-group list-group-flush">

      <a routerLink="/home" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-pie-chart mr-3"></i>Critique</a>
      <a routerLink="/profile" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-user mr-3"></i>My Profile</a>
      <a routerLink="login" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-table mr-3"></i>Tables</a>
      <a routerLink="register" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-map mr-3"></i>Register</a>
      <a routerLink="nonExistingPath" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-exclamation mr-3"></i>404</a>

  </div>

</div>
