
<mdb-card *ngIf = "showAllFeedbacks == false">
    <!-- <p>
        rate-feedback works!
      </p> -->
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->

      <!-- <p> Feedback for Submission Title by user</p>
      <p> Feedback here </p> -->

      <select class="browser-default custom-select" [(ngModel)] = "feedbackRating">
          <option *ngFor = "let r of ratings" >{{r}}</option>
        </select>
    
    </mdb-card-body>

    <app-feedback *ngIf="renderComponent == 'feedback' "></app-feedback>
    <button type="button" mdbBtn (click) = "submitRate()" class="softblue btn-sm"> Rate </button> 
    <button type="button" color="danger" outline="true" mdbBtn (click) = "renderViewFeedback()" class="btn-sm"> Close </button> 

    <!-- <app-profile *ngIf="renderComponent == 'Profile' "></app-profile>
    <button type="button" (click)="renderProfile()" class="btn btn-secondary">Cancel</button> -->
  
</mdb-card>

      


