<div class="p-2 profile">
  <mdb-card>

    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h2>Blah blah</h2>
      </mdb-card-title>
      <div class="row" title="">
        <div class="col-xs-2 col-sm-1 item-num item-num-00"></div>
        <div class="col-xs-8 col-sm-10 item item-00">
          <h6>Sample&nbsp;</h6>
          <p><button type="button" (click)="renderCritiqueForm()" class="btn btn-primary">Critique Form</button>

            <button type="button" class="btn btn-secondary">Test</button>

            <button type="button" class="btn btn-danger">Test</button></p>

        </div>

      </div>
    </mdb-card-body>
  </mdb-card>

  <!-- Render the other component stuff -->
  <div class="d-flex flex-column justify-content-center animated fadeInUp">

    <app-critique-form *ngIf="renderComponent == 'critique-form'"></app-critique-form>
  </div>

</div>