<div class="p-2 profile">
    <mdb-card>

      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h2>Available Submissions To Critique</h2>
        </mdb-card-title>

        <ul>
            <div *ngFor="let submission of possibleSubs">
              <li>
                  <mdb-card>
                      <mdb-card-body>
                          <h1>{{submission.submissionName}}</h1><button>asdfsadfasdf</button>

                        </mdb-card-body>
                      </mdb-card>



              </li>
            </div>
              
            </ul>
        
      
      </mdb-card-body>
    </mdb-card>
  </div>

  <!-- Render the other component stuff -->
  <div class="d-flex flex-column justify-content-center animated fadeInUp">
    <app-critique-form *ngIf="renderComponent == 'critique-form'"></app-critique-form>
  </div>
