.myImage{ 
    max-width: 50%;
    max-height: 50%;
}

* {
  box-sizing: border-box;
}

.left {
  flex: 35%;
  padding: 15px 0;
}

#cats {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#cats li a:hover {
  background-color: #eee;
}

#cats li a {
  background-color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-top: 50px;
    margin-left: 25px;
    display:block;
    border: 1px solid black;
    width: 200px;
    height: 250px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 200px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

#topThreeUl li{
    float: left;
}
