<!-- <div class="left"></div>
<input type="text" [(ngModel)]="queryString" id="search" class="form-control" placeholder="Search for categories" title="Type in a category">

<ul *ngFor="let c of categoriesForFilter | searchPipe: queryString" id="cats">
  <li (click)="getSubmissionsInCategory(c.categoryName)" (click)="basicModal.show()"> <a > {{c.categoryName}} </a> </li>
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">{{c.categoryName}}</h4>
        </div>
        <div class="modal-body">
          <ul *ngFor=" let s of submissions">
            <li><b>{{s.submissionName}}</b>
              <p>{{s.submissionText}}</p>
              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.show()">Add Comment</button>
              <form (submit)="addComment(f, s)" #f="ngForm">
                <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <textarea id="comment" name="comment" [(ngModel)]="comment"> Type comment </textarea>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        </button>
                        <button type="submit" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.hide()"
                          mdbWavesEffect>Create</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
</div>
</ul>

<br>

<p><button type="button" (click)="basicModal.show()" id="createCategoryButton" class="btn btn-secondary">Create Category</button></p>


<form (submit)="createCategory(f)" #f="ngForm">
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Create a Category</h4>
        </div>
        <div class="modal-body">
          <div class="md-form">
            <input mdbInputDirective type="text" id="categoryName" name="categoryName" [(ngModel)]="categoryName" class="form-control">
            <label for="form1">Category Name</label>
          </div>

          <div class="md-form">
            <input mdbInputDirective type="text" id="categoryDescription" name="categoryDescription" [(ngModel)]="categoryDescription"
              class="form-control">
            <label for="form1">Description</label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()"
            mdbWavesEffect>Close</button>
          <button type="submit" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.hide()"
            mdbWavesEffect>Create</button>
        </div>
      </div>
    </div>
  </div>
</form>

<br>
<br>
<h1 id="feat">Featured Categories</h1>

<ul id="topThreeUl">
  <li *ngFor="let t of topThreeCategories">
    <div class="card" id="topThreeCard">
      <b>
        <div>{{t.categoryName}}</div>
      </b>
      <p></p>
      <div>{{t.categoryDescription}}</div>
      <br>
      <div>Number of Submissions: {{t.numberOfSubmissions}}</div>
      <br>
      <button (click)="basicModal.show()" (click)="getSubmissionsInCategory(t.categoryName)">View
        Submissions</button>
      <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
        aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">{{t.categoryName}}</h4>
            </div>
            <div class="modal-body">
              <ul *ngFor=" let s of submissions">
                <li><b>{{s.submissionName}}</b>
                  <p>{{s.submissionText}}</p>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul> -->



<mdb-card class="outerCard " *ngIf="renderComponent == 'reload'" >

  <mdb-card-body >

    <mdb-card-title> <h1 class="cardTitle">Featured Categories</h1> </mdb-card-title>

    

















<div class="left"></div>
<input type="text" [(ngModel)]="queryString" id="search" class="form-control" placeholder="Search for categories" title="Type in a category">
<mdb-card class="outerCard" *ngIf="queryString != null" >

    <mdb-card-body>
<ul *ngFor="let c of categoriesForFilter | searchPipe: queryString" id="cats">
  <p (click)="getSubmissionsInCategory(c.categoryName)" (click)="basicModal.show()"> <b > {{c.categoryName}} </b> </p>
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">{{c.categoryName}}</h4>
        </div>
        <div class="modal-body">
          <ul *ngFor=" let s of submissions">
            <li><b>{{s.submissionName}}</b>
              <p>{{s.submissionText}}</p>
             
            </li>
          </ul>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
</div>
</ul>
</mdb-card-body>
</mdb-card>
<br>




<form (submit)="createCategory(f)" #f="ngForm">
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Create a Category</h4>
        </div>
        <div class="modal-body">
          <div class="md-form">
            <input mdbInputDirective type="text" id="categoryName" name="categoryName" [(ngModel)]="categoryName" class="form-control">
            <label for="form1">Category Name</label>
          </div>

          <div class="md-form">
            <input mdbInputDirective type="text" id="categoryDescription" name="categoryDescription" [(ngModel)]="categoryDescription"
              class="form-control">
            <label for="form1">Description</label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="light" class="waves-light" aria-label="Close" (click)="basicModal.hide()"
            mdbWavesEffect>Close</button>
          <button type="submit" mdbBtn class="softblue" (click)="basicModal.hide()"
            mdbWavesEffect>Create</button>
        </div>
      </div>
    </div>
  </div>
</form>


































    <div class="p-3 profile">
      <div class="d-flex flex-row">
        <div class="p-3 flex-fill" *ngFor="let t of topThreeCategories" > 
            <mdb-card>
                <h1 class="header">{{t.categoryName}}</h1>
                <p class="cardBody">{{t.categoryDescription}}</p>
                <p class="cardBody"> {{t.numberOfSubmissions}} Submission(s)</p>
                <button class="btn-outline-danger" mdbBtn type="button"   mdbWavesEffect block="true" (click)="basicModal.show()" (click)="getSubmissionsInCategory(t.categoryName)">View
                    Submissions</button>
                    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
        aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">{{t.categoryName}}</h4>
            </div>
            <div class="modal-body">
              <ul *ngFor=" let s of submissions">
                <li><b (click)="renderViewSub(s)" class="underline">{{s.submissionName}}</b>
                  <p>Creator: {{s.username}}</p>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    
                    
              </mdb-card>
              
              
        </div>
      </div>
    </div>

    <button  mdbBtn type="button"(click)="basicModal.show()" id="createCategoryButton" color="light">Create Category</button>

  </mdb-card-body>
</mdb-card>

<app-usersubmission (returnToParent)="getChildEvent($event)" [childSubmission]='chosenSubmission' *ngIf="renderComponent == 'ViewSub' "></app-usersubmission>
