<mdb-card class="animated fadeInUp">
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>Title: {{chosenSubmission.submissionName}}</h4>
    </mdb-card-title>

    <!--Card image-->
    <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
    <!--Text-->
    <mdb-card-text> {{chosenSubmission.submissionName}}
    </mdb-card-text>
    <div class="md-form">
      <textarea mdbInputDirective type="text" 
                id="form7" class="md-textarea form-control" 
                rows="3"
                [(ngModel)] = "feedback" ></textarea>
      <label for="form7">Feedback</label>
    </div>

    <!--
      <div class="md-form">
      <textarea mdbInputDirective type="text" 
                id="form7" 
                class="md-textarea form-control" 
                rows="3" 
                [(ngModel)] = "comment"></textarea>
      <label for="form7">Comment</label>
    </div>
    -->

    <button type="button" class="btn btn-primary" (click)="critique()">Submit</button>
    
    
    <button type="button" class="btn btn-primary" (click)="returnToDashboard()">Cancel</button>
  

  </mdb-card-body>
</mdb-card>